@use "styles/variables.scss" as *;

.authWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #f8f9fa;
}

.authContainer {
  height: 500px;
  width: 400px;
  padding: 20px;
  background: $white-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.authTitle {
  margin-bottom: 15px;
  font-size: 22px;
  color: #333;
}

.toggle {
  margin-top: 10px;
  font-size: 14px;
  color: $brand-color;
  cursor: pointer;
  text-decoration: underline;
  transition: $transition;

  &:hover {
    color: darken($brand-color, 10%);
  }
}
