.headerBg {
  border-bottom: 1px solid rgb(206, 206, 206);
  .header {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .controls,
    .actions {
      display: flex;
      gap: 20px;
      max-height: 20px;
    }

    .auth {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
}
